@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #800080;
	background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
	background: linear-gradient(to right, #ffc0cb, #800080);
}

.main {
	background: #ccc;
	width: 400px;
	height: 175px;
	margin: 100px auto;
	position: relative;
	padding: 30px;
}

.badge {
	width: 96px;
	background: #e66357;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	left: 150px;
	top: -15px;
}

.clock {
	background: #ebebeb;
	text-align: center;
	font-size: 55px;
	height: 100%;
	padding-top: 35px;
	font-family: Orbitron, sans-serif;
	font-weight: bold;
	border-radius: 4px;
}
